{% extends 'base.html.twig' %}

{% block body %}

    <div id="particles-js"></div>

    <!-- Start Image Upload Block -->

    <div class="vertMiddle">
        <div class="row">
            <div class="uploadForm">
                {{ form_start(form) }}
                <div class="field error">
                    {{ form_widget(form.email) }}
                    <span class="errortxt">
                        {{ form_errors(form.email) }}
                    </span>
                </div>
                <div class="upload error">
                    <div class="box">
                        {{ form_widget(form.file,  { 'id': 'file-6' }) }}
                        {{ form_errors(form.file) }}
                        <label for="file-6">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <h1>Upload Image</h1>
                        </label>
                    </div>
                </div>
                <div class="sendBtn">
                    {{ form_end(form) }}
                    {#<input type="button" class="btn btn-primary" value="Upload">#}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <!-- End Image Upload Block -->

{% endblock %}


